<head>
    ..
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    ...
</head>
<body>
    ...
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: 'PDCScPU8I0dyZdmrZBgpAZIM-MdYXbMMI',
            appKey: 'iActIpcRlHW8w5sLZCY9ecSR'
        })
    </script>
</body>
