<head>
    ..
    <script src="//code.bdstatic.com/npm/leancloud-storage@4.15.1/dist/av-min.js"></script
    ...
</head>
<body>
    ...
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: 'PDCScPU8I0dyZdmrZBgpAZIM-MdYXbMMI',
            appKey: 'iActIpcRlHW8w5sLZCY9ecSR'
        })
    </script>
</body>
